{% extends "base.html" %}

{% block content %}
<section class="intro">
    <img src="static/gurudevdutta.jfif" alt="गुरुदेव दत्त">
    <p>गुरुचरित्राचे १४ वे आणि १८ वे अध्याय वाचा आणि आध्यात्मिक आनंद मिळवा.</p>
</section>

<section class="adhyay">
    <h2>१४ वा अध्याय</h2>
    <p>... ।। श्री गुरुदेव दत्त ।। ...</p>
    <a href="/adhyay14" class="button">१४ वा अध्याय वाचा</a>
</section>

<section class="adhyay">
    <h2>१८ वा अध्याय</h2>
    <p>... ।। श्री गुरुदेव दत्त ।। ...</p>
    <a href="/adhyay18" class="button">१८ वा अध्याय वाचा</a>
</section>
{% endblock %}
